body {
  height: 100%;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(./../public/header-background.jpg) center center no-repeat;
  background-size: cover;
}
